.blogPage{
  background-color: #f9fafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  &_wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &_gallery{
    &__item{
      width: 600px;
      margin: calc(7.5px + 0.5208333333333334vw) calc(7.5px + 0.5208333333333334vw) calc(15px + 1.0416666666666667vw) calc(7.5px + 0.5208333333333334vw);
      &_header{
        &__tags{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #6c7988;
          font-size: 14px;
          font-weight: 400;
          a{
            margin: 0 calc(10px + 0.6944444444444444vw) 0 0;
            transition: all 0.5s ease-in-out;
            &:hover{
              color: #a3c5c3;
            }
          }
        }
        &__title{
          margin-bottom: 5px;
          color: #6c7988;
          line-height: calc(17px + 1.1805555555555556vw);
          font-size: calc(14px + 0.6944444444444444vw);
          font-weight: 700;
          transition: all 0.5s ease-in-out;
          &:hover{
            color: #a3c5c3;
          }
        }
      }
      &_img{
        background-color: #e0e6e9;
        width: 600px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 200px;
          height: 200px;
        }
      }
      &_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__date{
          color: #6c7988;
          font-size: 14px;
          font-weight: 700;
          line-height: calc(15px + 1.0416666666666667vw);
          transition: all 0.5s ease-in-out;
          &:hover{
            color: #a3c5c3;
          }
        }
        &__author{
          color: rgb(108, 121, 136);
          transition: all 0.5s ease-in-out 0s;
          font-size: 14px;
          font-weight: 400;
          line-height: calc(15px + 1.0416666666666667vw);
          &:hover{
            color: #a3c5c3;
          }
        }
      }
      &_secondfooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__comments{
          color: #6c7988;
          font-size: 14px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          &:hover{
            color: #a3c5c3;
          }
        }
        &__readBtn{
          color: #6c7988;
          transition: all 0.5s ease-in-out 0s;
          font-size: 14px;
          font-weight: 700;
          &:hover{
            color: #a3c5c3;
          }
        }
      }
    }
    &__pagination{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 0 calc(10px + 0.6944444444444444vw) calc(7.5px + 0.5208333333333334vw);
      &_item{
        color: rgb(108, 121, 136);
        font-size: 14px;
        font-weight: 400;
        line-height: calc(15px + 1.0416666666666667vw);
        padding: 6px calc(6px + 0.4166666666666667vw);
        transition: all 0.5s ease-in-out 0s;
        &.active{
          color: rgb(163, 197, 195);
          border-bottom: 1px solid rgb(163, 197, 195);
        }
        &:hover{
          color: #a3c5c3;
        }
      }
    }
  }
  &_sidebar{
    width: 300px;
    margin: calc(7.5px + 0.5208333333333334vw);
    &__categories{
      margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
      &_title{
        line-height: calc(16px + 1.1111111111111112vw);
        margin: 0 0 calc(12px + 0.8333333333333334vw);
        font-size: calc(14px + 0.6944444444444444vw);
        font-weight: 700;
        color: rgb(108, 121, 136);
      }
      &_items{
        &__item{
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          color: rgb(108, 121, 136);
          font-size: 14px;
          border-bottom: 1px solid rgba(108, 121, 136, 0.1);
          margin: 0 0 10px;
          &_text{
            font-weight: 700;
            line-height: calc(15px + 1.0416666666666667vw);
            transition: all 0.5s ease-in-out 0s;
            &:hover{
              color: #a3c5c3;
            }
          }
          &_counter{
            font-weight: 400;
          }
        }
      }
    }
    &__popPosts{
      margin: 0 0 calc(15px + 1.0416666666666667vw) 0;
      &_title{
        line-height: calc(16px + 1.1111111111111112vw);
        margin: 0 0 calc(12px + 0.8333333333333334vw);
        font-size: calc(14px + 0.6944444444444444vw);
        font-weight: 700;
        color: rgb(108, 121, 136);
      }
      &_items{
        &__item{
          color: rgb(108, 121, 136);
          font-size: 14px;
          border-bottom: 1px solid rgba(108, 121, 136, 0.1);
          margin: 0 0 10px 0;
          padding: 0 0 10px 0;
          &_date{
            font-weight: 400;
            transition: all 0.5s ease-in-out;
            &:hover{
              color: #a3c5c3;
            }
          }
          &_title{
            font-weight: 700;
            transition: all 0.5s ease-in-out;
            &:hover{
              color: #a3c5c3;
            }
          }
          &_comments{
            font-weight: 400;
            transition: all 0.5s ease-in-out;
            &:hover{
              color: #a3c5c3;
            }
          }
        }
      }
    }
    &__tags{
      &_title{
        line-height: calc(16px + 1.1111111111111112vw);
        margin: 0 0 calc(12px + 0.8333333333333334vw);
        font-size: calc(14px + 0.6944444444444444vw);
        font-weight: 700;
        color: rgb(108, 121, 136);
      }
      &_items{
        color: rgb(108, 121, 136);
        font-size: 14px;
        &__item{
          display: inline-block;
          font-weight: 400;
          margin: 0 10px 0 0;
          transition: all 0.5s ease-in-out;
          &:hover{
            color: #a3c5c3;
          }
        }
      }
    }
  }
}