/*-------------------------*/
/*--------CONTACTS---------*/
/*-------------------------*/

.contacts{
  background-color: #e0e6e9;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  &_content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__info{
      width: 400px;
      padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
      &_item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6c7988;
        font-size: 14px;
        line-height: calc(14px + 0.9722222222222222vw);
        margin: 0 0 10px 0;
        &__title{
          font-weight: 700;
        }
        &__content{
          font-weight: 400;
        }
      }
      &_socials{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__item{
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f3f7f7;
          font-size: calc(14px + 0.1388888888888889vw);
          font-weight: 400;
          width: 42px;
          height: 42px;
          background-color: #a3c5c3;
          border-radius: 50%;
          margin: calc(10px + 0.6944444444444444vw) 10px 0 0;
          transition: all 0.5s ease-in-out;
          &:hover{
            background-color: #6c7988;
          }
        }
      }
    }
    &__form{
      width: 400px;
      padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
    }
  }
}

input {
  border-radius: 0;
  box-shadow: none !important;
  -webkit-appearance: none;
}

textarea {
  box-shadow: none !important;
  -webkit-appearance: none;
}

.input-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(15px + 1.0416666666666667vw);
  margin-bottom: calc(7.5px + 0.5208333333333334vw);
  color: #6c7988;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
  &:hover, &:focus, &:active {
    border: none;
    border-bottom: 1px solid #a3c5c3;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #6c7988;
  }

  &:-ms-input-placeholder {
    color: #6c7988;
  }

  &:-moz-placeholder {
    color: #6c7988;
  }

  &::-moz-placeholder {
    color: #6c7988;
  }

}

.input-textarea {
  width: 100%;
  color: #6c7988;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(10px + 0.6944444444444444vw);
  border: none;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
  background-color: transparent;
  resize: none;
  outline: none;
  height: calc(40px + 2.7777777777777777vw);
  transition: all 0.5s ease-in-out;
  margin: 0 0 calc(15px + 1.0416666666666667vw) 0;

  &:hover, &:focus, &:active {
    border: none;
    border-bottom: 1px solid #a3c5c3;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #6c7988;
  }

  &:-ms-input-placeholder {
    color: #6c7988;
  }

  &:-moz-placeholder {
    color: #6c7988;
  }

  &::-moz-placeholder {
    color: #6c7988;
  }
}