/*-------------------------*/
/*---------HEADER----------*/
/*-------------------------*/

.header{
  background-color: #e0e6e9;
  padding: calc(50px + 3.4722222222222223vw) 0 calc(50px + 3.4722222222222223vw) 0;
  &_contaner{}
  &_title{
    text-align: center;
    margin: 0 auto;
    &__text{
      text-align: center;
      font-size: calc(14px + 1.8055555555555556vw);
      line-height: calc(22.5px + 1.5625vw);
      color: #6c7988;
      font-weight: 700;
      margin: 0 auto calc(40px + 2.7777777777777777vw) auto;
    }
    &__photo{
      width: 50px;
      margin: 0 auto;
      color: #6c7988;
      font-size: calc(14px + 0.4166666666666667vw);
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: #ffffff;
      }
    }
  }
  &_menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__item{
      margin: 0 10px calc(25px + 1.7361111111111112vw) 10px;
      &_link{
        text-align: center;
        transition: all 0.5s ease-in-out;
        &:hover p{
          color: #ffffff;
          transition: all 0.5s ease-in-out;
        }
      }
      &_img{
        margin: 0 0 calc(7.5px + 0.5208333333333334vw) 0;
      }
      &_text{
        color: #6c7988;
        font-size: 14px;
        font-weight: 300;
        line-height: calc(14px + 0.9722222222222222vw);
      }
    }
  }
  &_socials{
    display: flex;
    justify-content: center;
    align-items: center;
    &__item{
      color: #6c7988;
      font-size: 14px;
      font-weight: 700;
      line-height: calc(22.5px + 1.5625vw);
      margin: 0 calc(10px + 0.6944444444444444vw) 0 calc(10px + 0.6944444444444444vw);
      transition: all 0.5s ease-in-out;
      &:hover{
        color: #ffffff;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}