.post{
  background-color: #f9fafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  color: #6c7988;
  &_wrap{
    width: 800px;
    margin: 0 auto;
  }
  &_header{
    margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
    &__tags{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      a{
        margin: 0 calc(10px + 0.6944444444444444vw) 0 0;
        transition: all 0.5s ease-in-out;
        &:hover{
          color: #a3c5c3;
        }
      }
    }
    &__title{
      margin-bottom: 5px;
      line-height: calc(17px + 1.1805555555555556vw);
      font-size: calc(14px + 0.6944444444444444vw);
      font-weight: 700;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: #a3c5c3;
      }
    }
    &__img{
      background-color: #e0e6e9;
      width: 800px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 400px;
        height: 400px;
      }
    }
    &__date{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_date{
        font-size: 14px;
        font-weight: 700;
        line-height: calc(15px + 1.0416666666666667vw);
        transition: all 0.5s ease-in-out;
        &:hover{
          color: #a3c5c3;
        }
      }
      &_author{
        transition: all 0.5s ease-in-out 0s;
        font-size: 14px;
        font-weight: 400;
        line-height: calc(15px + 1.0416666666666667vw);
        &:hover{
          color: #a3c5c3;
        }
      }
    }
    &__comments{
      font-size: 14px;
      font-weight: 400;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: #a3c5c3;
      }
    }
  }
  &_body{
    padding-bottom: calc(16px + 1.1111111111111112vw);
    border-bottom: 1px solid rgba(108, 121, 136, 0.2);
    &__text{
      font-size: 14px;
      font-weight: 400;
      line-height: calc(13px + 0.9027777777777778vw);
      margin: 0 0 10px;
    }
    &__quote{
      text-align: center;
      font-size: calc(14px + 0.1388888888888889vw);
      font-weight: 300;
      line-height: calc(15px + 1.0416666666666667vw);
      padding: 0 calc(30px + 2.0833333333333335vw) calc(15px + 1.0416666666666667vw);
      margin: 0 0 10px;
    }
    &__img{
      background-color: #e0e6e9;
      width: 800px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 400px;
        height: 400px;
      }
      &_description{
        font-size: 14px;
        font-weight: 400;
        line-height: calc(13px + 0.9027777777777778vw);
        text-align: right;
        margin: 0 0 10px;
      }
    }
    &__subtitle{
      font-size: calc(14px + 0.1388888888888889vw);
      font-weight: 600;
      line-height: calc(13px + 0.9027777777777778vw);
      margin-top: calc(15px + 1.0416666666666667vw);
      margin-bottom: calc(7.5px + 0.5208333333333334vw);
    }
    &__list{
      padding: 0;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 14px;
      &_item{
        padding: 0 0 10px calc(17.5px + 1.2152777777777777vw);
        font-size: 14px;
        font-weight: 400;
        line-height: calc(13px + 0.9027777777777778vw);
        list-style-type: none;
        &::before{
          content: "";
          display: inline-block;
          position: relative;
          top: -3px;
          left: -20px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #6c7988;
        }
      }
    }
  }
  &_links{
    margin-bottom: calc(24px + 1.6666666666666667vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      line-height: calc(13px + 0.9027777777777778vw);
      padding: 5px 0;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: #a3c5c3;
      }
      p{
        margin: 0 5px;
      }
    }
  }
  &_comments{
    &__title{
      font-size: calc(14px + 0.6944444444444444vw);
      line-height: calc(16px + 1.1111111111111112vw);
      font-weight: 700;
      margin-top: calc(10px + 0.6944444444444444vw);
      margin-bottom: calc(10px + 0.6944444444444444vw);
    }
    &__comment{
      &_head{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #6c7988;
        font-size: calc(14px + 0.1388888888888889vw);
        font-weight: 700;
        line-height: calc(13px + 0.9027777777777778vw);
        margin-bottom: calc(10px + 0.6944444444444444vw);
        margin-top: 10px;
        &__img{
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.64;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #e0e6e9;
          margin-right: 10px;
        }
        &__username{
          font-size: calc(14px + 0.1388888888888889vw);
          margin: 0 10px 0 10px;
        }
        &__addingTime{}
        &__answerBtn{
          margin: 0 0 0 calc(20px + 1.3888888888888888vw);
          transition: all 0.5s ease-in-out;
          &:hover{
            color: #a3c5c3;
          }
        }
      }
      &_text{
        margin-bottom: calc(12px + 0.8333333333333334vw);
        color: #6c7988;
        font-size: 14px;
        font-weight: 400;
        line-height: calc(13px + 0.9027777777777778vw);
      }
    }
    &__subcomment{
      margin: 0 0 0 9%;
    }
  }
  &_form{
    &__title{
      font-size: calc(14px + 0.6944444444444444vw);
      line-height: calc(16px + 1.1111111111111112vw);
      font-weight: 700;
      margin-top: calc(20px + 1.3888888888888888vw);
      margin-bottom: calc(10px + 0.6944444444444444vw);
    }
    &__item{
      .input-text{
        border-bottom: 1px solid #6c7988;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: calc(15px + 1.0416666666666667vw);
        margin-bottom: calc(7.5px + 0.5208333333333334vw);
        color: #6c7988;
        height: calc(15px + 1.0416666666666667vw);
        outline: none;
        transition: all 0.5s ease-in-out;
        padding: 1px 2px;
        &:hover{
          border: none;
          border-bottom: 1px solid #a3c5c3;
          outline: none;
        }
      }
      .input-textarea{
        border-bottom: 1px solid #6c7988;
        width: 100%;
        color: #6c7988;
        font-size: 14px;
        font-weight: 400;
        line-height: calc(10px + 0.6944444444444444vw);
        margin-bottom: calc(7.5px + 0.5208333333333334vw);
        resize: none;
        outline: none;
        height: calc(40px + 2.7777777777777777vw);
        background-color: transparent;
        transition: all 0.5s ease-in-out;
        overflow: auto;
        &:hover{
          border: none;
          border-bottom: 1px solid #a3c5c3;
          outline: none;
        }
      }
      .btn{
        margin: 0 0 0 0;
      }
    }
  }
}