/*-------------------------*/
/*---------RESET-----------*/
/*-------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
div,
canvas,
a,
p,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

span{
  margin: 0;
  padding: 0;
}