/*-------------------------*/
/*----------RESUME---------*/
/*-------------------------*/

.resume{
  background-color: #fafafa;
  padding: calc(37.5px + 2.6041666666666665vw) 0 calc(37.5px + 2.6041666666666665vw) 0;
  &_content{
    &__title{
      text-align: center;
      font-size: calc(14px + 0.6944444444444444vw);
      line-height: calc(16px + 1.1111111111111112vw);
      font-weight: 700;
      color: #6c7988;
      margin: calc(10px + 0.6944444444444444vw) 0 calc(15px + 1.0416666666666667vw) 0;
    }
    &__parts{
      &_row{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &:first-child{
          margin: 0 0 calc(25px + 1.7361111111111112vw) 0;
        }
        &__col{
          width: 400px;
          padding: 0 calc(7.5px + 0.5208333333333334vw) 0 calc(7.5px + 0.5208333333333334vw);
        }
      }
    }
    &__item{
      &_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6c7988;
        font-size: 14px;
        line-height: calc(15px + 1.0416666666666667vw);
        margin: 0 0 5px 0;
        &__title{
          font-weight: 700;
        }
        &__value{
          font-weight: 400;
        }
      }
      &_progress{
        background-color: #f3f7f7;
        height: 3px;
        box-shadow: none;
        margin: 0 0 calc(10px + 0.6944444444444444vw) 0;
        &__up{
          width: 0;
          background-color: #a3c5c3;
          height: 3px;
          box-shadow: none;
        }
      }
    }
  }
  &_opportunities__item{
    color: #6c7988;
    font-size: calc(14px + 0.1388888888888889vw);
    font-weight: 700;
    line-height: calc(21px + 1.4583333333333333vw);
    padding-left: calc(11px + 0.7638888888888888vw);
    margin: 0 0 10px 0;
    &:before{
      content: "";
      display: inline-block;
      position: relative;
      top: -3px;
      left: -20px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #6c7988;
    }
  }
}