@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts';
@import 'fontello';
@import "reset";

/*-------------------------*/
/*-----------APP-----------*/
/*-------------------------*/

#pagePreloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    font-family: 'Raleway', sans-serif;
    display: none;
}

.section_title{
    &__img{
        display: flex;
        justify-content: center;
        margin: 0 0 30px 0;
    }
    &__text{
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: #6c7988;
        margin: 0 0 50px 0;
    }
}

.section_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 15px;
}

.btn{
    margin: 0 15px 0 15px;
    width: 170px;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn-dark{
    color: #fffefe;
    background-color: #6c7988;
    &:hover{
        color: #ffffff;
        background-color: #a3c5c3;
    }
}
.btn-light{
    color: #6c7988;
    background-color: #f5f5f5;
    &:hover{
        color: #ffffff;
        background-color: #6c7988;
    }
}

@import "header";
@import "about";
@import "resume";
@import "works";
@import "blog";
@import "contacts";
@import "footer";
@import "fixed_els";

@import "blog_content";
@import "post";
@import "404";

@import "navs";

@import "media";