@font-face {
  font-family: "Raleway-Bold";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-BoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-BlackItalic";
  font-display: swap;
  src: url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraLightItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/Raleway-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Italic";
  font-display: swap;
  src: url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ExtraLight";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Medium";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-LightItalic";
  font-display: swap;
  src: url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Black";
  font-display: swap;
  src: url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-SemiBold";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-MediumItalic";
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-ThinItalic";
  font-display: swap;
  src: url("../fonts/Raleway-ThinItalic.woff") format("woff"), url("../fonts/Raleway-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Raleway-Thin";
  font-display: swap;
  src: url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/*-------------------------*/

/*---------RESET-----------*/

/*-------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
div,
canvas,
a,
p,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

span {
  margin: 0;
  padding: 0;
}

/*-------------------------*/

/*-----------APP-----------*/

/*-------------------------*/

.app {
  font-family: 'Raleway', sans-serif;
}

.section_title__img {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.section_title__text {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #6c7988;
  margin: 0 0 50px 0;
}

.btn {
  margin: 0 15px 0 15px;
  width: 170px;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.btn-dark {
  color: #fffefe;
  background-color: #6c7988;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #a3c5c3;
}

.btn-light {
  color: #224256;
  background-color: #f5f5f5;
}

.btn-light:hover {
  color: #ffffff;
  background-color: #6c7988;
}

/*-------------------------*/

/*-------MENU FIXED--------*/

/*-------------------------*/

/*-------------------------*/

/*---------HEADER----------*/

/*-------------------------*/

.header {
  background-color: #e0e6e9;
  padding: 100px 0 100px 0;
}

.header_title__text {
  text-align: center;
  font-size: 40px;
  line-height: 45px;
  color: #6c7988;
  font-weight: 700;
  margin: 0 0 80px 0;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header_menu__item {
  margin: 0 10px 50px 10px;
}

.header_menu__item_link {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.header_menu__item_link:hover p {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.header_menu__item_img {
  margin: 0 0 15px 0;
}

.header_menu__item_text {
  color: #6c7988;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.header_socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_socials__item {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  margin: 0 20px 0 20px;
  transition: all 0.5s ease-in-out;
}

.header_socials__item:hover {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

/*-------------------------*/

/*----------ABOUT----------*/

/*-------------------------*/

.about {
  padding: 75px 0 75px 0;
  background-color: #ffffff;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about_content__item {
  width: 400px;
  padding: 0 15px 0 15px;
}

.about_facts__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #6c7988;
  margin: 0 0 20px 0;
}

.about_facts__items_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.1);
}

.about_facts__items_item__title {
  color: #6c7988;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.about_facts__items_item__content {
  font-weight: 400;
  text-align: right;
  float: right;
  color: #6c7988;
  font-size: 14px;
  line-height: 30px;
}

.about_description__title {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #6c7988;
}

.about_description__text_first {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6c7988;
  margin: 0 0 10px 0;
}

.about_description__text_second {
  color: #6c7988;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0 10px 0;
}

.about_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 15px 15px;
}

/*-------------------------*/

/*----------RESUME---------*/

/*-------------------------*/

.resume {
  background-color: #fafafa;
  padding: 75px 0 75px 0;
}

.resume_content__title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #6c7988;
  margin: 20px 0 10px 0;
}

.resume_content__parts_row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.resume_content__parts_row:first-child {
  margin: 0 0 50px 0;
}

.resume_content__parts_row__col {
  width: 400px;
  margin: 0 15px 0 15px;
}

.resume_content__item_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c7988;
  font-size: 14px;
  line-height: 30px;
  margin: 0 0 5px 0;
}

.resume_content__item_text__title {
  font-weight: 700;
}

.resume_content__item_text__value {
  font-weight: 400;
}

.resume_content__item_progress {
  background-color: #f3f7f7;
  height: 3px;
  box-shadow: none;
  margin: 0 0 20px 0;
}

.resume_content__item_progress__up {
  width: 0;
  background-color: #a3c5c3;
  height: 3px;
  box-shadow: none;
}

.resume_opportunities__item {
  color: #6c7988;
  font-size: 16px;
  font-weight: 700;
  line-height: 42px;
  padding-left: 22px;
  margin: 0 0 10px 0;
}

.resume_opportunities__item:before {
  content: "";
  display: inline-block;
  position: relative;
  top: -3px;
  left: -20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6c7988;
}

/*-----------------------*/

/*---------MEDIA---------*/

/*-----------------------*/